root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json,md}]
indent_size = 2

[*.{iss,ps1,bat,cmd}]
end_of_line = crlf

[*.{png,jpg,jpeg,gif,ico,dll,exe,sys,cat,inf,zip,woff,woff2}]
insert_final_newline = false
trim_trailing_whitespace = false
